node_modules

# Depedencies lock
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lock
bun.lockb

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.production

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
